<a href="https://colab.research.google.com/github/ANISUL-ISLAM-ONI/PYTHON/blob/LAB/B2_CT_2_18101079.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROBLEM 1

In [ ]:
marks = eval(input('Input:\n'))
print('Output:')
if marks < 40 :
  print('F')
elif marks >= 40 and marks < 45 :
  print('D')
elif marks >= 45 and marks < 50 :
  print('C')
elif marks >= 50 and marks < 55 :
  print('C+')
elif marks >= 55 and marks < 60 :
  print('B-')
elif marks >= 60 and marks < 65 :
  print('B')
elif marks >= 65 and marks < 70 :
  print('B+')
elif marks >= 70 and marks < 75 :
  print('A-')
elif marks >= 75 and marks < 80 :
  print('A')
elif marks >= 80 and marks < 101 :
  print('A+')
else :
  print('Above the grade')

Input:
55
Output:
B-

#PROBLEM 2

In [ ]:
number = eval(input('Input:\n'))
print('Output:')
if number < 0 :
  print('Negative')
else :
  print('Non-negative')

Input:
1
Output:
Non-negative

#PROBLEM 3

In [ ]:
elements = []
print('Input:')
for i in range(5) :
  print('Element ', i+1, ': ', sep='', end='')
  temporary = eval(input())
  elements.insert(i, temporary)
index1 = int(input('Index 1: '))
index2 = int(input('Index 2: '))
index1 -= 1
index2 -= 1
print('Output:')
if index1 >= 0 and index1 < 5 and index2 >= 0 and index2 < 5 :
  temporary = elements[index1]
  elements[index1] = elements[index2]
  elements[index2] = temporary
  print(elements)
else :
  print('Out of the elements')

Input:
Element 1: 10
Element 2: 5
Element 3: 100
Element 4: 4
Element 5: 6
Index 1:2
Index 2:4
Output:
[10, 4, 100, 5, 6]

#PROBLEM 5

In [ ]:
Employee1 = {
    'EmplID' : 77920,
    'LastName' : 'Jackson',
    'FirstName' : 'Stephen',
    'HireDate' : '11-29-1997'
}
Employee2 = {
    'EmplID' : 77921,
    'LastName' : 'Reynolds',
    'FirstName' : 'Sandy',
    'HireDate' : '01-04-1993'
}
Employee3 = {
    'EmplID' : 77922,
    'LastName' : 'Armstrong',
    'FirstName' : 'Stephen',
    'HireDate' : '09-16-1989'
}
Employee4 = {
    'EmplID' : 77923,
    'LastName' : 'Jackson',
    'FirstName' : 'Linda',
    'HireDate' : '10-09-1996'
}
Employees = {
    Employee1['EmplID'] : Employee1,
    Employee2['EmplID'] : Employee2,
    Employee3['EmplID'] : Employee3,
    Employee4['EmplID'] : Employee4
}
ID = eval(input('Enter the ID you are looking for >> '))
if ID >= 77920 and ID <= 77923 :
  print('The information of following ID >>')
  print(Employees[ID])
else :
  print('Not Found')

Enter the ID you are looking for >> 77920
The information of following ID >>
{'EmplID': 77920, 'LastName': 'Jackson', 'FirstName': 'Stephen', 'HireDate': '11-29-1997'}